[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
torch = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
tables = "*"
autosklearn = "*"

[requires]
python_version = "3.8"
